.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active-icon {
  color: white !important;
}

.sidebar-items {
  color: white;
  font-size: large;
}

@media only screen and (max-width: 767px) {
  .sidebar-items {
    margin-bottom: 0 !important;
  }
}

.sidebar-items p {
  margin-left: 1em;
  margin-bottom: 8px;
}

.sidebar-items:hover p{
  color: black;
}

.sidebar-items:hover svg{
  color: white;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 14px;
}
